<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal, Material Design HTML Template</title>
    <!-- load fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Barlow:100,300,400,400i,500,700,900" rel="stylesheet">
    <!-- Portal Styles -->
    <link th:href="@{/css/classic-indigo-orange.css}" href="/css/classic-indigo-orange.css" rel="stylesheet" type="text/css">
  </head>

  <body class="mdc-typography">

    <div class="portal-wrapper">

      <main class="portal-main">

        <div class="portal-main__content mdc-theme--text-primary-on-light mdc-theme--secondary-bg-gradient portal-no-layout-container">
          <div th:replace="${view} :: content">Page Content</div>
        </div>

      </main>

    </div>

    <!-- initialise material components js -->
    <script type="text/javascript" th:src="@{/js/material-components-web.js}" src="../static/js/material-components-web.js"></script>
    <script>mdc.autoInit()</script>
  </body>
</html>
