<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
  <title>Login</title>
  <!-- Custom CSS -->
  <link href="../static/dist/css/style.min.css" th:href="@{/dist/css/style.css}" rel="stylesheet" />
  <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
  <!-- GoogleReCaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" th:src="@{https://www.google.com/recaptcha/api.js}"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
</head>

<body>
<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
      <div id="loginform">
        <div class="logo">
          <span class="db"><img src="../../assets/images/logo-icon.png" alt="logo" /></span>
          <h5 class="font-medium m-b-20">Sign In to Chats</h5>
        </div>
        <!-- Form -->
        <div class="row">
          <div class="col-12">
              <!-- Alert with different color -->
              <div th:if="${success}">
                  <div class="alert alert-success" th:text="${success}">This is an example top alert. You can edit what u wish.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                  </div>
              </div>
              <!-- Alert with different color -->
              <div th:if="${error}">
                  <div class="alert alert-danger" th:text="${error}">This is an example top alert. You can edit what u wish.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                  </div>
              </div>
            <form class="form-horizontal m-t-20" id="loginform" action="/login" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" required=" " name="login" placeholder="Login" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control form-control-lg" required=" " name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                    <a href="javascript:void(0)" id="to-recover" class="text-dark float-right">Forgot pwd?</a>
                  </div>
                </div>
              </div>
              <div class="g-recaptcha" style="margin: 10px 30px;" data-sitekey="6LcQpnIUAAAAAI5Jgyc9qCGer06CrW1_TuW0wSv_"></div>
              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                  <button class="btn btn-block btn-lg btn-info" type="submit">Log In</button>
                </div>
              </div>
              <div class="form-group m-b-0 m-t-10">
                <div class="col-sm-12 text-center">
                  Don't have an account? <a href="/signup" class="text-info m-l-5"><b>Sign Up</b></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="recoverform">
        <div class="logo">
          <span class="db"><img src="/assets/images/logo-icon.png" alt="logo" /></span>
          <h5 class="font-medium m-b-20">Recover Password</h5>
          <span>Enter your Email and instructions will be sent to you!</span>
        </div>
        <div class="row m-t-20">
          <!-- Form -->
          <form class="col-12" action="index.html">
            <!-- email -->
            <div class="form-group row">
              <div class="col-12">
                <input class="form-control form-control-lg" type="text" required="" placeholder="Login">
              </div>
            </div>
            <!-- pwd -->
            <div class="row m-t-20">
              <div class="col-12">
                <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper scss in scafholding.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper scss in scafholding.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right Sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right Sidebar -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script type="text/javascript" th:src="@{/assets/libs/jquery/dist/jquery.min.js}" src="../assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script type="text/javascript" th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}" src="../assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}" src="../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login and Recover Password
    // ==============================================================
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
</script>
</body>

</html>